{%  extends "base.html.twig" %}

{% block title %}Modifier votre profile{% endblock %}


{% block body %}
    <!-- Hero Slider Block
    ================================================== -->

    <div class="section padding-top-big padding-bottom over-hide">
        <div class="parallax" style="background-image: url('{{ path }}/uploads/heros/chaise-3d_1920-1080_2.jpg')"></div>
        <div class="dark-fade-over"></div>
        <div class="hero-logo hidden-lg-up">
            <a href="{{ path }}">
                <img src="{{ path }}/uploads/logo/{{ blog.id }}/{{ blog.logo }}" alt="Logo" class="">
            </a>
        </div>
        <div class="hero-bottom-wrap ver-2 text-center z-bigger" style="bottom: -20px;">
            <div class="container-fluid parallax-fade-top" style="top: 0px;">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section pt-0 pt-md-3 background-grey pb-md-4 over-hide z-bigger-2">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-4 p-4 mt-md-3 rounded background-dark text-center">
                    <div class="main-title on-dark text-center mb-0">
                        <h4 class="text-center section-title">Modifier votre profile</h4>
                    </div>
                    <form method="post">
                        <div class="subscribe-box-1 dark for-hero mt-3">
                            <input type="text" name="username" placeholder="Pseudo" class="form-control" value="{{ user.entity.username }}" required/>
                            {% if user.entity.errors['username'] %}
                                <span class="badge badge-warning mt-1 mx-1">{{ user.entity.errors['username'] }}</span>
                            {% endif %}
                            {% if user.entity.errors and constant('INVALID_USERNAME', user.entity) in user.entity.errors %}
                                <span class="badge badge-warning mt-1 mx-1">Pseudo invalide (2 à 32 caractères)</span>
                            {% endif %}
                        </div>
                        <div class="subscribe-box-1 dark for-hero mt-3">
                            <input type="text" name="lastname" placeholder="Nom" class="form-control" value="{{ user.entity.lastname }}" required/>
                            {% if user.entity.errors and constant('INVALID_LASTNAME', user.entity) in user.entity.errors %}
                                <span class="badge badge-warning mt-1 mx-1">Nom invalide (2 à 50 lettres, espaces et -)</span>
                            {% endif %}
                        </div>
                        <div class="subscribe-box-1 dark for-hero mt-2">
                            <input type="text" name="firstname" placeholder="Prénom" class="form-control" value="{{ user.entity.firstname }}" required/>
                            {% if user.entity.errors and constant('INVALID_FIRSTNAME', user.entity) in user.entity.errors %}
                                <span class="badge badge-warning mt-1 mx-1">Prénom invalide (2 à 50 lettres, espaces et -)</span>
                            {% endif %}
                        </div>
                        <div class="subscribe-box-1 dark for-hero mt-3">
                            <input type="email" name="email" placeholder="Email" class="form-control" value="{{ user.entity.email }}" required/>
                            {% if user.entity.errors['mail'] %}
                                <span class="badge badge-warning mt-1">{{ user.entity.errors['mail'] }}</span>
                            {% endif %}
                            {% if user.entity.errors and constant('INVALID_EMAIL', user.entity) in user.entity.errors %}
                                <span class="badge badge-warning mt-1 mx-1">Email invalide</span>
                            {% endif %}
                        </div>
                        <div class="subscribe-box-1 dark for-hero mt-2">
                            <input type="password" name="new_password" placeholder="Mot de passe" class="form-control"/>
                            {% if user.entity.errors and constant('INVALID_PASSWORD', user.entity) in user.entity.errors %}
                                <span class="badge badge-warning mt-1 mx-1">Mot de passe invalide :<ul class="mt-1 mb-0 text-left"><li>8 à 50 caractères</li><li>Au moins une lettre minuscule</li><li>Au moins une lettre majuscule</li><li>Au moins un chiffre</li></ul></span>
                            {% endif %}
                        </div>
                        <div class="subscribe-box-1 dark for-hero mt-1">
                            <input type="password" name="confirm_password" placeholder="Confirmation du mot de passe" class="form-control"/>
                            {% if user.entity.errors['confirm_pass'] %}
                                <span class="badge badge-warning mt-1">{{ user.entity.errors['confirm_pass'] }}</span>
                            {% endif %}
                        </div>
                        <input type="hidden" name="token" value="{{ csrf_token }}" class="crsf-token-field">
                        <div class="clear"></div>
                        <button type="submit" name="edit-profile-btn" class="btn btn-primary btn-simple btn-round btn-long mt-4 mb-1" >Valider</button><br>
                        <a href="{{ path }}/profile/show">Annuler</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}