{%  extends "base.html.twig" %}

{% block title %}Profile{% endblock %}


{% block body %}
    <!-- Hero Slider Block
    ================================================== -->

    <div class="section padding-top-big padding-bottom over-hide">
        <div class="parallax" style="background-image: url('{{ path }}/uploads/heros/chaise-3d_1920-1080_2.jpg')"></div>
        <div class="dark-fade-over"></div>
        <div class="hero-logo hidden-lg-up">
            <a href="{{ path }}">
                <img src="{{ path }}/uploads/logo/{{ blog.id }}/{{ blog.logo }}" alt="Logo" class="">
            </a>
        </div>
        <div class="hero-bottom-wrap ver-2 text-center z-bigger" style="bottom: -20px;">
            <div class="container-fluid parallax-fade-top" style="top: 0px;">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section pt-0 pt-md-3 background-grey pb-md-4 over-hide z-bigger-2">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-4 p-4 mt-md-3 rounded background-dark text-center">
                    <div class="main-title on-dark text-center mb-3">
                        <h4 class="text-center section-title">Profile</h4>
                    </div>
                    <dl>
                        <dt>Pseudo</dt>
                        <dl>{{ current_user.username }}</dl>
                        <dt>Nom</dt>
                        <dl>{{ current_user.lastname }}</dl>
                        <dt>Prénom</dt>
                        <dl>{{ current_user.firstname }}</dl>
                        <dt>Email</dt>
                        <dl>{{ current_user.email }}</dl>
                    </dl>
                    <a class="btn btn-primary" href="{{ path }}/profile/edit">Modifier</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}