{%  extends "base.html.twig" %}

{% block title %}Congitions générales d'utilisation{% endblock %}


{% block body %}

    <!-- Hero Slider Block
    ================================================== -->

    <div class="section padding-top-big padding-bottom over-hide">
        <div class="parallax" style="background-image: url('{{ path }}/uploads/heros/chaise-3d_1920-1080_2.jpg')"></div>
        <div class="dark-fade-over"></div>
        <div class="hero-logo hidden-lg-up">
            <a href="{{ path }}">
                <img src="{{ path }}/uploads/logo/{{ blog.id }}/{{ blog.logo }}" alt="Logo" class="">
            </a>
        </div>
        <div class="hero-bottom-wrap ver-2 text-center z-bigger" style="bottom: -20px;">
            <div class="container-fluid parallax-fade-top" style="top: 0px;">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section pt-0 pt-md-4 background-grey pb-md-5 over-hide z-bigger-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 p-4 mt-md-3 rounded background-white">
                    <div class="main-title text-center mb-3">
                        <h2 class="text-center">Mentions légales et conditions générales d'utilisation (CGU)</h2>
                    </div>
                    <div>
                        <h3>Mentions légales</h3>

                        <h4>Editeur :</h4>
                        <p>Romain LOUET, Micro entrepreneur (SIRET : 504 946 369 00031) , ayant son siège social au 352, chemin du Plan du Mont – 74230 MANIGOD (France)</p>
                        <p>Email : contact@romsworld.net<br>
                            Téléphone : 06.14.33.60.04</p>

                        <h4>Directeur de la publication :</h4>
                        <p>Monsieur Romain LOUET</p>

                        <h4>Conception graphique et réalisation technique :</h4>
                        <p>Romain LOUET</p>
                        <p><a href="http://www.romainlouet.fr">romainlouet.fr</a></p>
                        <p><a href="mailto:contact@romsworld.net">contact@romsworld.net</a></p>

                        <h4>Hébergement :</h4>
                        <p>IONOS SARL : 7, Place de la Gare, BP 70109 57200 Sarreguemines C (France)</p>

                        <h3>Conditions générales d'utilisation (CGU)</h3>
                        <p>Version 1.0, 31/01/2021</p>
                        <p>Romain LOUET est un micro entrepreneur, ayant pour activités principales le développement web et l'infographie.</p>

                        <h4>Objet du site internet</h4>
                        <p>Le site internet de Romain LOUET a pour objet de présenter ses travaux et compétences, et de permettre aux visiteurs de les commenter et de le contacter en vue d'une mission freelance, ou d'un contrat salarié.</p>
                        <p>Le site internet de Romain louet s’adresse également à tous les publics qui s’intéressent ou suivent ce qui se fait dans ses domaines de compétences.</p>

                        <h4>Acceptation des conditions générales d’utilisation</h4>
                        <p>Les présentes conditions générales régissent l’utilisation du site internet de Romain LOUET. Elles sont soumises au droit français. Elles vous sont applicables dès que vous accédez au site internet, que ce soit à partir de la page d’accueil ou de toute autre page.<p>
                        <p>Romain LOUET se réserve le droit de modifier et de mettre à jour les conditions générales d’utilisation du site à tout moment. Chaque nouvelle version des conditions générales d’utilisation, numérotée et datée, entre en vigueur à compter de la date de sa mise en ligne sur le site internet de Romain LOUET. Elle s’applique dans les conditions décrites au paragraphe ci-dessus.<p>
                        <p>Vous êtes donc invité(e) à consulter régulièrement les mentions légales et les conditions générales d’utilisation en vigueur au moment de votre accès au site internet, à partir de la page d’accueil, ou de toute autre page.</p>

                        <h4>Accès au site internet</h4>
                        <p>Le site internet de Romain LOUET est accessible à l’adresse URL www.sacd.fr, 24h/24, 7 jours/7, sauf cas de force majeure, pannes informatiques, opérations de maintenance, de mise à jour ou de problèmes liés aux réseaux de télécommunication.</p>
                        <p>L’accès, et les informations proposés sur le site internet de Romain LOUET sont gratuits. Après prise de contact, si un travail en freelance et demandé, le devis accepté et le travail livré, il sera conditionné par une facturation et un paiement.</p>

                        <h4>Accès aux espaces et services du site internet</h4>

                        <h5>Accès aux services ouverts au public</h5>
                        <p>l'accès et la consultation du site internet sont publics : ils sont ouverts à toute personne.</p>

                        <h5>Envoi de commentaire</h5>
                        <p>L’utilisation du service de commentaires nécessite la création d’un compte (identifiant et mot de passe).</p>
                        <p>Romain LOUET se garde le droit de refuser ou supprimer les commentaires postés sur le site</p>

                        <h5>Accès au profile</h5>
                        <p>Tous les visiteurs ont la possibilité de créer un profile pour pouvoir proposer des commentaires.</p>
                        <p>Romain LOUET se garde le droit de supprimer ou de banir les utilisateurs indélicats.</p>

                        <h5>Obligations relatives à l’ensemble des espaces et services du site internet</h5>
                        <p>L’identifiant et le mot de passe nécessaires pour accéder au profil sont  personnels et strictement confidentiels. A ce titre, vous devez vous en réserver l’usage exclusif.</p>
                        <p>Toute action sur le site internet à l’aide de vos identifiants et/ou mot de passe est considérée avoir été opérée par vous. Vous êtes seul(e) responsable des conséquences qui pourraient résulter de leur communication à des tiers.</p>>
                        <p>Vous vous engagez à informer immédiatement Romain LOUET de toute utilisation non autorisée de votre identifiant et/ou de votre mot de passe, et plus généralement de toute atteinte à la sécurité du site internet de Romain LOUET dont vous auriez connaissance.</p>

                        <h4>Protection des données à caractère personnel</h4>
                        <p>La protection de données à caractère personnel est en particulier régie par le Règlement (EU) 2016/679 du Parlement Européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement de données à caractère personnel et à la libre circulation de ces données, autrement appelé le Règlement général sur la protection des données (ci-après le « RGPD ») et de la Loi n° 78-17 du 6 janvier 1978 modifiée dite « Loi informatique et libertés » (ci-après la « Loi n° 78-17 »).</p>
                        <p>Romain LOUET accorde une grande importance à la protection des données à caractère personnel. il met en œuvre des mesures techniques et organisationnelles pour assurer la protection effective de vos données en conformité avec la règlementation applicable.</p>
                        <p>Une donnée personnelle est une information qui permet d’identifier une personne physique, directement (par exemple : nom, prénom, adresse, etc.) ou indirectement, notamment par référence à un identifiant (par exemple, celui qui permet d’accéder à un service ou un espace).</p>
                        <h5>Les traitements de données personnelles</h5>
                        <p>Romain LOUET recueille et traite des données personnelles à l'occasion de votre visite du site et de votre inscription sur celui-ci.</p>
                        <p>Romain LOUET est responsable de ces traitements.</p>
                        <p>Les traitements de données personnelles effectués par Romain LOUET à l’occasion de votre utilisation du site ont pour finalités de :</p>
                        <ul>
                            <li>Répondre à vos demandes d’information ou d’aide</li>
                            <li>Assurer le bon fonctionnement du site et des services.</li>
                        </ul>
                        <p>Vos données sont destinées aux services internes du site internet, et ne feront en ocun cas l'objet d'une session, ni concession, à des tiers, que ce soit à titre gratuit ou onéreux.</p>
                        <p>Vous avez la possibilité de modifier ou supprimer vos données à tous moment à partir de votre page de profil.</p>

                        <h5>Cookies</h5>
                        <p>Un cookie est un fichier envoyé par le serveur internet à votre navigateur. Il est stocké sur la mémoire de votre appareil</p>
                        <p>Ce site internet utilise des cookies pour améliorer votre expérience et votre navigation.</p>
                        <ul>
                            <li>Un cookie de session : Cookie technique nécessaire au site pour fonctionner - Valable le temps de votre session</li>
                            <li>Un cookie d'acceptation des cookies : Cookie permettant de ne plus afficher l'avertissement relatif aux cookies lors de vos prochaines visites - Valable un an</li>
                            <li>Un cookie de connexion : Cookie permettant, si vous en avez fait la demande seulement, de vous connecter automatiquement avec votre nom d'utilisateur lors de vos prochaines visites - Valable 6 mois</li>
                        </ul>

                        <h5>Vos droits</h5>
                        <p>Conformément à la règlementation relative à la protection des données (RGPD et Loi Informatique et Libertés), vous disposez des droits suivants :</p>
                        <ul><li>Un droit d’accès (et avoir ainsi la confirmation du traitement de vos données et le cas échéant obtenir les informations le concernant),</li>
                            <li>Un droit de rectification (aux fins de mise à jour de vos données),</li>
                            <li>Un droit à l’effacement, ou «&nbsp;droit à l’oubli&nbsp;» (et obtenir ainsi la suppression de vos données notamment lorsqu’elles sont inexactes, incomplètes, périmées),</li>
                            <li>Un droit à la limitation du traitement (pour demander à ce qu’il ne soit pas fait usage de vos données dans les cas prévus par la règlementation),</li>
                            <li>Un droit d’opposition (pour des raisons tenant à votre situation particulière, vous pouvez vous opposer au traitement de vos données),</li>
                            <li>Un droit à la portabilité (pour recevoir, lorsque ce droit est applicable, les données personnelles que vous avez fournies, dans un format structuré, couramment utilisé et lisible par machine, notamment pour transmission à un autre responsable de traitement).</li>
                            <li>&nbsp;Le droit de retirer votre consentement à tout moment (lorsqu’il a été recueilli pour le traitement).</li>
                            <li>Le droit de définir des directives relatives au sort de vos données après votre décès.</li>
                        </ul>
                        <p>Pour mettre en oeuvre vos droits :</p>
                        <ul><li>vous pouvez vous rendre dans la rubrique profil lorsque vous bénéficiez d’un espace personnel, et effectuer par exemple les modifications que vous souhaitez apporter,</li>
                            <li>vous pouvez adresser votre demande à Romain LOUET :
                                <ul><li>par courriel à <a href="mailto:contact@romsworld.net">contact@romsworld.net</a></li>
                                </ul></li>
                        </ul>

                        <h4>Propriété intellectuelle</h4>
                        <p>L’ensemble des éléments constituant le site internet de Romain LOUET (textes, graphismes, logiciels, photographies, images, sons, vidéos, plans, logos, marques, créations et œuvres protégeables diverses, bases de données, etc…) ainsi que le site lui-même, relèvent des législations françaises et internationales sur la propriété intellectuelle et plus précisément, le droit d’auteur, les droits voisins du droit d’auteur (notamment les articles L.122-4 et L.122-5 du Code de la propriété intellectuelle) et le droit des marques.</p>
                        <p>Ils sont la propriété exclusive de Romain LOUET, hormis les éléments réalisés par des intervenants extérieurs n’ayant pas cédé leurs droits de propriété intellectuelle. Les présentes conditions générales d’utilisation ne confèrent aucun droit de propriété sur le site internet de Romain LOUET ou sur l’un quelconque de ses éléments.</p>
                        <p>En conséquence, toute personne qui consulte le site internet de Romain LOUET et utilise ses services, s’engage notamment :</p>
                        <ul>
                            <li>A ne pas intégrer tout ou partie du contenu du site internet de Romain LOUET dans un site tiers, que ce soit à des fins commerciales ou non,</li>
                            <li>A ne pas reproduire les informations figurant sur le site internet de Romain LOUET sur des supports de toute nature permettant de reconstituer tout ou partie des fichiers d’origine.</li>
                        </ul>
                        <p>Sous réserve notamment des articles L. 122-5, L. 211-3 et L. 342-3 du Code de la propriété intellectuelle, toute utilisation non expressément autorisée du site internet de Romain LOUET ou de l’un quelconque de ses éléments entraîne une violation des droits de  propriété intellectuelle  et constitue une contrefaçon. Elle peut aussi entraîner une violation du droit à l’image, du droit des personnes ou de tous autres droits et réglementations en vigueur. Elle peut donc engager la responsabilité civile et/ou pénale de son auteur.</p>
                        <p>Romain LOUET se réserve la possibilité de saisir toutes voies de droit à l’encontre des personnes qui n’auraient pas respecté les interdictions contenues dans le présent article.</p>

                        <h4>Liens hypertextes pointant, vers d’autres sites</h4>
                        <p>Le site internet de Romain LOUET comporte des liens hypertextes vers d’autres sites internet, édités et/ou gérés par des tiers.</p>
                        <p>Néanmoins, les sites évoluant sans cesse ou étant susceptibles d’être supprimés à tout moment par l’éditeur tiers, Romain LOUET, qui n'a pas le contrôle sur ces sites, ne saurait être tenue responsable de la qualité permanente, du contenu, de la modification ou de la suppression de ces sites.</p>
                        <p>La responsabilité de Romain LOUET concernant ces liens hypertextes sortants ne peut donc être engagée.</p>

                        <h4>Responsabilités</h4>
                        <p>Romain LOUET décline toute responsabilité :</p>
                        <ul>
                            <li>En cas d’interruption du site de Romain LOUET notamment pour des opérations de maintenance techniques ou d’actualisation des informations publiées</li>
                            <li>En cas d’impossibilité d’accès aux espaces et services en ligne, notamment en raison de problèmes techniques et ce quelles qu’en soient l’origine et la provenance,</li>
                            <li>En cas de dommages directs ou indirects qui vous seraient causés, quelle qu’en soit la nature, résultant du contenu, de l’accès ou de l’utilisation du site internet,</li>
                            <li>En cas d’utilisation anormale ou d’une exploitation illicite du site internet de Romain LOUET. Vous êtes seul(e) responsable des dommages causés aux tiers et des conséquences des réclamations ou actions qui pourraient en découler. Vous renoncez également à exercer tout recours contre Romain LOUET dans le cas de poursuites diligentées par un tiers à votre encontre du fait de l’utilisation et/ou de l’exploitation illicite du site.</li>
                        </ul>
                        <p>Vous vous engagez à utiliser le site internet de Romain LOUET conformément aux présentes conditions générales d’utilisation et plus généralement dans le respect de la législation en vigueur, l’ordre public et les bonnes mœurs. Vous vous engagez à ne transmettre aucune publicité ou matériel non sollicités (« spamming »), ainsi que tout contenu comportant des virus informatiques.</p>
                        <p>Romain LOUET décline toute responsabilité en cas de perte de votre identifiant et/ou mot de passe ou en cas d’usurpation de votre identité.</p>
                        <p>Romain LOUET se réserve enfin la possibilité de saisir toutes voies de droit à l’encontre de toute personne qui n’aurait pas respecté les dispositions relatives aux articles 323-1 à 323-8 du Code pénal ou tout article s’y substituant, et notamment qui accèderait frauduleusement à tout ou partie d’un système de traitement automatisé de données des espaces et services du site internet de Romain LOUET.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var path = "{{ path }}";
    </script>
    <script type="text/javascript" src="{{ path }}/custom/js/custom-profile-password.js"></script>
{% endblock %}