{%  extends "Backend/back-base.html.twig" %}

{% block title %}Blog de {{ blog.firstname }} {{ blog.lastname }} - Commentaires{% endblock %}


{% block body %}
    <!-- Comments modal
================================================== -->
    <div class="modal fade default" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title color-white" id="confirmModalLabel"><span class="modal-action text-capitalize">Supprimer</span> le commentaire</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-12 delete-error">
                    <div class="hidden form-error text-center mb-2"><span class="badge badge-warning"></span></div>
                </div>
                <div class="modal-body row form-on-dark">
                    <div class="col-12">
                        <p>Êtes-vous sûr de vouloir <span class="modal-action">Supprimer</span> le commentaire ?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary confirm-btn modal-action text-capitalize" data-token="{{ csrf_token }}">Supprimer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="section padding-top little-pt-mobile over-hide">
        <div class="dark-fade-over"></div>
        <div class="container parallax-fade-top">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title text-center on-dark">
                        <h2>Commentaires</h2>
                        <div class="main-subtitle-bottom mt-3">
                            Modérez vos commentaires.
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <!-- Block ============================================== -->
    <div class="section pt-4 background-dark-1 pb-2 over-hide z-bigger-2">
        <div class="container-fluid form-on-dark pt-3">
            <div class="row justify-content-around align-items-center comment-list">
                {% for comment in comments %}
                        <div class="comment-item-{{ comment.id }} col-md-4 my-2 comment-item">
                            <div class="col-12 background-white rounded-3 p-2 blog-box-1">
                                <h3><a href="{{ path }}/admin/posts/{{ comment.blogPost.id }}/view">{{ comment.blogPost.title }} (#{{ comment.blogPost.id }})</a></h3>
                                <a href="{{ path }}/admin/posts/{{ comment.blogPost.id }}/view" class="btn-link btn-primary pl-0 mt-4">Voir le post</a>
                                <div class="separator-wrap pt-3">
                                    <span class="separator"><span class="separator-line"></span></span>
                                </div>
                                <p></p>
                                <div class="author-wrap mt-1">
                                    <p> Par <span class="font-weight-bold">{{ comment.user.username }}</span>, le <mark>{{ comment.date|date('d/m/Y à H:i:s') }}</mark></p>
                                </div>
                                <p>{{ comment.content|nl2br }}</p>
                                <div class="text-center col-12">
                                    <button type="button" class="btn btn-primary btn-sm mx-2 validate-btn" data-toggle="modal" data-target="#confirmModal" data-id={{ comment.id }} data-action="valider">Valider</button>
                                    <button type="button" class="btn btn-danger btn-sm mx-2" data-toggle="modal" data-target="#confirmModal" data-id={{ comment.id }}>Supprimer</button>
                                </div>
                            </div>
                        </div>
                {% endfor %}

            </div>
            {% if comments|length >= app_config.get('pagination') %}
            <div class="row justify-content-center mt-3">
                <button type="button" class="btn btn-primary btn-sm" id="ViewMore">Voir plus</button>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ path }}/custom/js/custom-admin-comments.js"></script>
{% endblock %}