{%  extends "Backend/back-base.html.twig" %}

{% block title %}Utilisateurs{% endblock %}


{% block body %}

    <div class="modal fade default" id="banishModal" tabindex="-1" role="dialog" aria-labelledby="banishModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title color-white" id="banishModalLabel">Banir l'utilisateur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-12 banish-error">
                    <div class="hidden form-error text-center mb-2"><span class="badge badge-warning"></span></div>
                </div>
                <div class="modal-body row form-on-dark">
                    <div class="col-12">
                        <p>Êtes-vous sûr de vouloir banir <span class="delete-item-name badge badge-warning"></span> ?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary banish-btn" data-token="{{ csrf_token }}">Banir</button>
                </div>
            </div>
        </div>
    </div>

    <div class="section padding-top background-grey-2 over-hide">
        <div class="grey-fade-over"></div>
        <div class="container parallax-fade-top">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title text-center">
                        <h3>Utilisateurs</h3>
                        <div class="main-subtitle-bottom mt-3">
                            Gérez vos utilisateurs.
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

        <!-- Block ============================================== -->
        <div class="section background-grey pb-md-4 over-hide z-bigger-2">
            <div class="container">
                <div class="row">
                    <div class="col-auto mx-auto">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link {% if not role %}active" href="#"{% else %}" href="{{ path }}/admin/users"{% endif %}>Tous ({{ users_count["all"] }})</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if role == "ROLE_USER" %}active" href="#"{% else %}" href="{{ path }}/admin/users/users"{% endif %}>Membres ({{ users_count["ROLE_USER"] }})</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if role == "ROLE_ADMIN" %}active" href="#"{% else %}" href="{{ path }}/admin/users/admins"{% endif %}>Administrateurs ({{ users_count["ROLE_ADMIN"] }})</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="row">

                    <div class="table-responsive">
                        <table class=" users-table table table-clear table-hover table-sm rounded align-middle">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Role</th>
                                <th>Pseudo</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Etat</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr class="{% if user.banished %}table-danger{% elseif not user.enabled %}table-disabled{% endif %}">
                                    <th scope="row">
                                        {{ user.id }}
                                    </th>
                                    <td>
                                        {% if user.role == "ROLE_ADMIN" %}
                                            <button role="button" class="fa-btn text-success" href="#" title="Rétrogader" data-toggle="modal" data-target="#banishModal"><span class="fa fa-black-tie"></span></button>
                                        {% else %}
                                            <button role="button" class="fa-btn text-info" href="#" title="Promouvoir" data-toggle="modal" data-target="#banishModal"><span class="fa fa-user"></span></button>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ user.username }}
                                    </td>
                                    <td>
                                        {{ user.lastname }}
                                    </td>
                                    <td>
                                        {{ user.firstname }}
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                    {% if user.banished %}
                                    Banni
                                    {% elseif user.enabled %}
                                    Activé
                                    {% else %}
                                    Non activé
                                    {% endif %}
                                    </td>
                                    <td>
                                    {% if user.banished %}
                                    <button role="button" class="fa-btn text-danger" href="#" title="Débannir" data-toggle="modal" data-target="#banishModal"><span class="fa fa-lock"></span></button>
                                    {% elseif user.enabled %}
                                    <button role="button" class="fa-btn text-success" href="#" title="Bannir" data-toggle="modal" data-target="#banishModal"><span class="fa fa-unlock"></span></button>
                                    {% else %}
                                    <button role="button" class="fa-btn text-gray-dark" href="#" title="Supprimer" data-toggle="modal" data-target="#banishModal"><span class="fa fa-user-times"></span></button>
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var path = "{{ path }}";
    </script>
    <script type="text/javascript" src="{{ path }}/custom/js/custom-admin-posts.js"></script>
{% endblock %}