<h1>Nouveau message</h1>
Auteur :
<ul>
    <li>
        Nom : {{ contact_message.lastname }}
    </li>
    <li>
        Prénom : {{ contact_message.firstname }}
    </li>
    <li>
        Email : {{ contact_message.email }}
    </li>
    <li>
        Téléphone : {{ contact_message.phone }}
    </li>
</ul>
<h2>Sujet : {{ contact_message.subject }}</h2>
<h2>Message :</h2>
<p>{{ contact_message.message|nl2br }}</p>