{%  extends "base.html.twig" %}

{% block title %}Home{% endblock %}


{% block body %}
<!-- Hero Slider Block
================================================== -->

<div class="section full-height">
    <div class="parallax" style="background-image: url('{{ path }}/uploads/heros/chaise-3d_1920-1080.jpg')"></div>
    <div class="dark-fade-over"></div>
    <div class="hero-logo hidden-lg-up">
        <a href="{{ path }}">
            <img src="{{ path }}/uploads/logo/{{ blog.id }}/{{ blog.logo }}" alt="Logo" class="">
        </a>
    </div>
    <div class="hero-center-wrap z-bigger">
        <div class="container hero-text parallax-fade-top">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="typed text-white"><span id="typed-1"></span></h2>
                    <div class="subtext mt-3 text text-warning">{{ blog.teaserphrase|nl2br }}</div>
                    <ul class="hero-social img-social mb-0 mt-5">
                        {% for network in blog.socialnetworks %}
                            <li>
                                <a href="{{ network.url }}" title="Aller sur ma page {{ network.name }}"><img src="{{ path }}/uploads/icons/{{ blog.id }}/{{ network.logo }}" alt="logo {{ network.name }}"></a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="clear"></div>
                    <a href="{{ path }}/uploads/cv/{{ blog.id }}/{{ blog.cv }}" class="btn btn-primary btn-simple btn-round btn-long mt-5" target="_blank">Voir mon CV</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-bottom-wrap ver-2 text-center z-bigger">
        <div class="container-fluid parallax-fade-top" style="top: 0px;">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ blog.firstname }} {{ blog.lastname }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section background-dark z-bigger-2 text-white padding-top-small" id="contactSection">
        <h2 class="dark-1-title text-center">Me contacter</h2>
        <form class="contactform mt-5" method="post" action="">
            <div class="container form-on-dark">
                <div class="row justify-content-around">
                    <div class="col-md-4 mt-4">
                        <div class="subscribe-box-1">
                            <label for="lastnameInput">Nom</label>
                            {% if contact_message.errors and constant('INVALID_LASTNAME', contact_message) in contact_message.errors %}
                                <span class="badge badge-warning ml-2">Nom invalide (2 à 50 lettres, espaces et -)</span>
                            {% endif %}
                            <input maxlength="50" id="lastnameInput" type="text" name="lastname" value="{% if posted_data %}{{ posted_data.lastname }}{% endif %}" placeholder="Votre nom" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <div class="subscribe-box-1">
                            <label for="firstnameInput">Prénom</label>
                            {% if contact_message.errors and constant('INVALID_FIRSTNAME', contact_message) in contact_message.errors %}
                                <span class="badge badge-warning ml-2">Prénom invalide (2 à 50 lettres, espaces et -)</span>
                            {% endif %}
                            <input maxlength="50" id="firstnameInput" type="text" name="firstname" value="{% if posted_data %}{{ posted_data.firstname }}{% endif %}" placeholder="Votre prénom" class="form-control" required>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-4 mt-4">
                        <div class="subscribe-box-1">
                            <label for="emailInput">Email</label>
                            {% if contact_message.errors and constant('INVALID_EMAIL', contact_message) in contact_message.errors %}
                                <span class="badge badge-warning ml-2">Email invalide</span>
                            {% endif %}
                            <input maxlength="255" id="emailInput" type="email" name="email" value="{% if posted_data %}{{ posted_data.email }}{% endif %}" placeholder="Votre Email" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <div class="subscribe-box-1">
                            <label for="phoneInput">Téléphone</label>
                            {% if contact_message.errors and constant('INVALID_PHONE', contact_message) in contact_message.errors %}
                                <span class="badge badge-warning ml-2">Téléphone invalide (nul, ou entre 6 et 30 chiffres, +,-, . ou espaces)</span>
                            {% endif %}
                            <input maxlength="30" id="phoneInput" type="tel" name="phone" value="{% if posted_data %}{{ posted_data.phone }}{% endif %}" placeholder="Votre téléphone" class="form-control">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-8 mt-4">
                        <div class="subscribe-box-1">
                            <label for="subjectInput">Sujet</label>
                            {% if contact_message.errors and constant('INVALID_SUBJECT', contact_message) in contact_message.errors %}
                                <span class="badge badge-warning ml-2">Sujet invalide (nul, ou entre 3 et 30 caractères)</span>
                            {% endif %}
                            <input maxlength="30" id="subjectInput" type="text" name="subject" value="{% if posted_data %}{{ posted_data.subject }}{% endif %}" placeholder="Sujet du message" class="form-control">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-8 mt-4">
                        <div class="subscribe-box-1">
                            <label for="messageInput">Message</label>
                            {% if contact_message.errors and constant('INVALID_MESSAGE', contact_message) in contact_message.errors %}
                                <span class="badge badge-warning ml-2">Message invalide (entre 15 et 1000 caractères)</span>
                            {% endif %}
                            <textarea maxlength="1000" id="messageInput" name="message" placeholder="Votre message" class="for-textarea form-control" required>{% if posted_data %}{{ posted_data.message }}{% endif %}</textarea>
                        </div>
                    </div>
                    <input type="hidden" name="token" value="{{ csrf_token }}" class="crsf-token-field">
                    <div class="clear mb-4"></div>
                    <input class="btn btn-primary" type="submit" name="contact-send" value="Envoyer" />
                    <div class="clear"></div>
                    <p class="color-white p-0 m-0 list-inline-item"><small>En envoyant ce formulaire, vous acceptez nos </small> <a href="{{ path }}/legal/cgu" class="btn-link btn-primary list-inline-item p-0 m-0 ml-1"><small>conditions générales d'utilisation</small></a></p>
                </div>
            </div>
        </form>
        <div class="container mt-5 contact-infos pb-5">
            <div class="row justify-content-around">
                <div class="col-md-4 mt-4 mt-md-0">
                    <div class="services-box-1 p-0 text-center">
                        <i class="funky-ui-icon icon-Smartphone-4"></i>
                        <h5 class="mt-3 pb-0 mb-0 text">{{ blog.phone }}</h5>
                    </div>
                </div>
                <div class="col-md-4 mt-4 mt-md-0">
                    <div class="services-box-1 p-0 text-center">
                        <i class="funky-ui-icon icon-Mail-Open"></i>
                        <h5 class="mt-3 pb-0 mb-0">{{ blog.email }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ path }}/custom/js/custom-skills-type.js"></script>
    {% if posted_data is not empty %}
        <script>
            location.href = "#contactSection";
        </script>
    {% endif %}
{% endblock %}