
<section class="section background-dark-2 over-hide footer-1 dark">
    <div class="container scd-foot pt-4 pb-4">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center mb-3">
                <p class="text-light-green title">Me suivre :</p>
                <div class="row footer-social-icons justify-content-center">
                    {% for network in blog.socialnetworks %}
                        <div class="col-auto p-2">
                            <a href="{{ network.url }}" title="Aller sur ma page {{ network.name }}"><img src="{{ path }}/uploads/icons/{{ blog.id }}/{{ network.logo|url_encode }}" alt="Logo {{ network.name }}"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="d-md-none col-4 mb-3">
                <div class="separator-wrap">
                    <span class="separator"><span class="separator-line dashed"></span></span>
                </div>
            </div>
            <div class="col-md-4 text-center mb-4">
                <p class="text-light-green title">{{ blog.firstname }} {{ blog.lastname }}</p>
                <p class="mb-1"><i class="funky-ui-icon icon-Smartphone-4"></i> {{ blog.phone }}</p>
                <p><i class="funky-ui-icon icon-Mail-Open"></i> {{ blog.email }}</p>
                <a href="{{ path }}#contactSection" class="btn btn-primary">Contact</a>
            </div>
            <div class="d-md-none col-4 mb-3">
                <div class="separator-wrap">
                    <span class="separator"><span class="separator-line dashed"></span></span>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <p class="text-light-green title">Plan du site</p>
                <ul class="sitemap">
                    <li>
                        <a href="{{ path }}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path }}/book">Book</a>
                    </li>
                    <li>
                        <a href="{{ path }}/uploads/cv/{{ blog.id }}/{{ blog.cv }}" target="_blank">CV</a>
                    </li>
                    {% if current_user.isGranted('admin') %}
                    <li>
                        <a href="{{ path }}/admin">Admin</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ path }}/legal/cgu">Mentions légales / CGU</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
